---
import i18next from "i18next";
import Head from '@components/Head.astro'
import MainNavigation from '@components/MainNavigation.astro'
import ColPosHelper from '@components/helpers/ColPosHelper.astro'
import LanguageMenu from "@components/LanguageMenu.astro";
import ReloadPrompt from '@components/pwa/ReloadPrompt.astro';

export interface ContentColumn {
  colPos0: Object | null,
  /* If your layout has more cols you can add them here */
}

export interface Props {
	title: string,
  content: ContentColumn | null,
  i18n: any
}

const { title, content, i18n } = Astro.props
---
<html lang={i18next.language}>
  <Head title={title} />
	<body>
    <div class="container mx-auto">
      <div class="flex flex-row justify-between">
        <MainNavigation />
        <LanguageMenu i18n={i18n} />
      </div>
      <ColPosHelper content={content?.colPos0} />
    </div>
    <ReloadPrompt />
  </body>
</html>